@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="row" style="margin-top:10px;">
        <div class="panel panel-default">
            <div class="panel-heading">Jasmine Aung</div>
            <div class="panel-body">
                <address>
                    <strong>Current:  </strong>PhD Student at University of Technology Sydney <br/>
                    <strong>Support: </strong><a href="mailto:thazin31086@gmail.com">thazin31086@gmail.com</a>
                </address>
            </div>
        </div>
    </div> 
</div>