@{
    Layout = "~/Views/Shared/_LayoutViz.cshtml";
}
<div id="VisualTraceLinksDiv">
    @Scripts.Render("~/bundles/vis")


    <div class="row">
        <div id="loading">
            <span class="fa fa-refresh fa-spin"></span>
        </div>
    </div>

    <div id="cy"></div>
    <div id="search-wrapper">
        <input type="text" class="form-control" id="search" placeholder="&#xf002; Search">
    </div>
    <div id="info">
    </div>
</div>






