@{
    ViewBag.Title = "Workbench";
}

<div class="container" style="width:100%;max-width:100%;margin:30px;">
    <p><strong> Hierarchical Tracing Conceptual Diagram</strong> <a href="@Url.Action("HRTracing", "Home")"> let's play</a> </p>
    <img width="100%" height="90%" src="~/images/Hierarchical Tracing Flowchart.svg"/>

   


</div>
